.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 40vh; /* These two lines are counted as one :-)       */
  
    align-items: center;
  }
  .form-group {
    width: 40%;
    margin-bottom: 0;
  }

  .mybtn{
    width: 20%;
    border-radius:50px;
    display: inline-block;
    }
    .myclz{
      margin: 0;
      padding: 0;
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }